.booking-wrapper{
  // background-color: rgba(105, 253, 204, 0.521);

  .connect-wallet-wrapper{
    margin: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    // background-color: rgba(105, 253, 204, 0.521);
    

    button{
      margin-left: 10px;
    }
  }

  .choose-button-wrapper{
    margin-bottom: 10px;
  }

  .form-wrapper{
    display: flex;
    flex-direction: column;
    background-color: rgba(105, 253, 204, 0.521);
    align-items: center;
    width: 100%;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 8px;


    form{
      display: flex;
      flex-direction: column;
      margin: 10px;

      .form-control{
        display: flex;
        border-bottom: 1px solid grey;

        label{
          width: 50%;
          align-content: center;
        }

        input, select{
          width: 50%;
          align-content: center;
          margin-top: 10px;
        }
      }

      button{
        margin: 10px 0;
        align-self: flex-end;
      }
    }
  }

  .show-booking-background{
    // position: ;
  }

  .show-booking-wrapper, .loading-wrapper{
    background-color: rgb(151, 161, 255);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid black;
  }
}