body {
  background-color: $color-white;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: $color-green;
  align-items: center;
}

nav {
  padding: 15px 20px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;

    li {
      font-size: 150%;
      display: inline-block;
      padding: 10px;

      a {
        color: $color-dark;
        text-decoration: none;

        &:hover {
          color: $color-cream-white;
        }
      }
    }

    .current {
      color: $color-dark-green;
    }
  }

  @media (max-width: 800px) {
    padding: 0;

    ul {
      display: none;

      &.open {
        display: flex;
        flex-direction: column;
        background-color: $color-green;
        width: 100vw;
        height: 100vh;
        justify-content: flex-start;
        align-items: center;
        padding-top: 20%;
        z-index: 99;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: 150px auto 0 auto;
  padding: 3rem;
  background-color:rgba($color-green, .5);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba($color-green, .25);
  box-sizing:border-box;

  h1 {
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 3rem 0 3rem 0;

    label {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 10px;
    }

    input,
    select {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
    }

    button {
      padding: 10px;
      border: none;
      border-radius: 4px;
      background-color: $color-dark;
      color: white;
      cursor: pointer;
      width: 100%;

      &:hover {
        background-color: $color-dark-green;
      }
    }
  }
}

.container-contact {
  margin: 50px auto 0 auto;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  div,
  ul li {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;

    .booking-detail {
      margin-top: 20px;
      display: flex;
      align-items: flex-start;
    }

    .booking-actions {
      display: flex;
      justify-content: space-between;
      width: 100%;
      border-bottom: #000 1px solid;
    }

    label {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 10px;
    }

    input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      padding: 10px;
      margin: 10px 0;
      border: none;
      border-radius: 4px;
      background-color: $color-dark;
      color: white;
      cursor: pointer;
      width: 100%;

      &:hover {
        background-color: $color-dark-green;
      }
    }
  }
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.about-us-section {
  margin: 100px 50px 0 100px;
}

.container-contact .crypto-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;

  img {
    width: 60px;
    height: auto;
  }
}

.connect-wallet-button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: $color-dark;
  color: white;
  cursor: pointer;
  width: 200px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: $color-dark-green;
  }
}